p{
    margin-top: 2%;
}
#title{
    width: 100%;
}
#addTag{
    left: 25%;
    width: 10%;
    bottom: 8%;
    position: absolute;
}
#submit{
    width: 10%;
    left: 65%;
    bottom: 8%;
    position: absolute;
}
#tagLayer{
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}